{:highlights [{:id #uuid "6624e3e3-eba7-4f46-b3d6-0b107f805757",
               :page 1,
               :position {:bounding {:x1 910.46875,
                                     :y1 418.265625,
                                     :x2 1004.7198486328125,
                                     :y2 490.640625,
                                     :width 1069,
                                     :height 837.3833752354792},
                          :rects ({:x1 931.75,
                                   :y1 418.265625,
                                   :x2 985.77099609375,
                                   :y2 430.265625,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 918.59375,
                                   :y1 433.34375,
                                   :x2 996.9417724609375,
                                   :y2 445.34375,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 910.46875,
                                   :y1 448.40625,
                                   :x2 1004.7198486328125,
                                   :y2 460.40625,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 915.8125,
                                   :y1 463.5625,
                                   :x2 999.385498046875,
                                   :y2 475.5625,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 928.75,
                                   :y1 478.640625,
                                   :x2 989.515625,
                                   :y2 490.640625,
                                   :width 1069,
                                   :height 837.3833752354792}),
                          :page 1},
               :content {:text "Tiere ermöglichen und fördern die Bestäubung sowie die Verbreitung von Samen (NCP 2)."},
               :properties {:color "red"}}
              {:id #uuid "6624e3ec-004a-476a-ba69-786fe9003ae1",
               :page 1,
               :position {:bounding {:x1 910.46875,
                                     :y1 418.265625,
                                     :x2 1004.7198486328125,
                                     :y2 490.640625,
                                     :width 1069,
                                     :height 837.3833752354792},
                          :rects ({:x1 931.75,
                                   :y1 418.265625,
                                   :x2 985.77099609375,
                                   :y2 430.265625,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 918.59375,
                                   :y1 433.34375,
                                   :x2 996.9417724609375,
                                   :y2 445.34375,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 910.46875,
                                   :y1 448.40625,
                                   :x2 1004.7198486328125,
                                   :y2 460.40625,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 915.8125,
                                   :y1 463.5625,
                                   :x2 999.385498046875,
                                   :y2 475.5625,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 928.75,
                                   :y1 478.640625,
                                   :x2 989.515625,
                                   :y2 490.640625,
                                   :width 1069,
                                   :height 837.3833752354792}),
                          :page 1},
               :content {:text "Tiere ermöglichen und fördern die Bestäubung sowie die Verbreitung von Samen (NCP 2)."},
               :properties {:color "red"}}
              {:id #uuid "6624e400-57e4-48ca-a6a8-b274005e0801",
               :page 2,
               :position {:bounding {:x1 428.890625,
                                     :y1 150.71875,
                                     :x2 519.1420288085938,
                                     :y2 207.9375,
                                     :width 1069,
                                     :height 837.3833752354792},
                          :rects ({:x1 446.75,
                                   :y1 150.71875,
                                   :x2 498.275634765625,
                                   :y2 162.71875,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 438.078125,
                                   :y1 165.796875,
                                   :x2 509.265625,
                                   :y2 177.796875,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 428.890625,
                                   :y1 180.875,
                                   :x2 519.1420288085938,
                                   :y2 192.875,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 433.28125,
                                   :y1 195.9375,
                                   :x2 513.484375,
                                   :y2 207.9375,
                                   :width 1069,
                                   :height 837.3833752354792}),
                          :page 2},
               :content {:text "Ökosysteme produzieren Biomasse, die als Brennstoff dient (NCP 11)."},
               :properties {:color "red"}}
              {:id #uuid "6624e41b-2691-4871-a0f2-94aa3a480ffe",
               :page 2,
               :position {:bounding {:x1 564.546875,
                                     :y1 396.25,
                                     :x2 668.52880859375,
                                     :y2 468.625,
                                     :width 1069,
                                     :height 837.3833752354792},
                          :rects ({:x1 590.421875,
                                   :y1 396.25,
                                   :x2 644.2464599609375,
                                   :y2 408.25,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 572.890625,
                                   :y1 411.3125,
                                   :x2 664.59375,
                                   :y2 423.3125,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 565.71875,
                                   :y1 426.46875,
                                   :x2 668.52880859375,
                                   :y2 438.46875,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 564.546875,
                                   :y1 441.546875,
                                   :x2 668.4261474609375,
                                   :y2 453.546875,
                                   :width 1069,
                                   :height 837.3833752354792}
                                  {:x1 573.734375,
                                   :y1 456.625,
                                   :x2 663.298583984375,
                                   :y2 468.625,
                                   :width 1069,
                                   :height 837.3833752354792}),
                          :page 2},
               :content {:text "Die Natur ist ein Labor für die Wiss enschaft, durch das die Gesellschaft Verständ nis für die Welt gewinnt."},
               :properties {:color "red"}}],
 :extra {:page 1}}
